@import url(reset.css);

/* classes auxiliares */
.borda{
    border: 1px solid;
}
/*=====================*/

body {
    width: 95%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header-caixa {
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 0;
}

.container{
    display: flex;
    justify-content: space-between;
}

.aside-container {
    width: 25%;
    height: auto;
}

.item-lateral {
    background-color: blueviolet;
    
}

.video-container{
    width: 75%;
    height: 500px;
}

.texto-alinhado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.texto-alinhado p {
    margin-left: 10px;
}